---
title: TITLE REQUIRED
description: DESCRIPTION REQUIRED
metacontent: META CONTENT REQUIRED
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta
            name="{{ description }}" 
            content="{{ metacontent }}"
        >
        <title>{{ title }}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap"
            rel="stylesheet"
        >
        {# <link rel="stylesheet" href="/css/style.css"> #}
    </head>
    <body>
        {# <nav id="main-nav">
            {% include "navbar.njk" %}
        </nav> #}
        <div class="container">
            {{ content | safe }}
            {# <div class="row">
                <hr class="bg-c500" style="clear: both"/>
                {% include "footer.njk" %}
            </div> #}
        </div><!-- /div.container -->
    </body>
</html>