---
layout: layouts/base.njk
title: MINIdex
description: The MINIdex tracker
metacontent: The MINIdex tracker
templateEngineOverride: njk,md
---

<div style="width: 600px; margin: 0 auto; font-family: Helvetica, Arial, sans-serif">

<h1 style="text-align: center">MINIdex</h1>

<p style="text-align: center">
  <strong>MINIdex</strong>: Minis witnessed per mile travelled.
</p>

<div style="width: 95%; margin: 0 auto;">

{{ minidex | safe }}

</div>

</div>