---
layout: layouts/base.njk
title: MINIdex
description: The MINIdex tracker
metacontent: The MINIdex tracker
templateEngineOverride: njk,md
---

<div style="width: 600px; max-width: 100%; margin: 0 auto; font-family: Helvetica, Arial, sans-serif">

<h1 style="text-align: center">MINIdex</h1>

<p style="text-align: center">
  <span style="color: gray; font-style: italic">(noun)</span>&nbsp; Minis witnessed per mile travelled.
</p>

<div style="width: 95%; margin: 0 auto;">

{{ minidex | safe }}

</div>

<br />
<p style="text-align: center">
  &copy; {% copyrightString %}
  <a href="https://www.domwakeling.com" target="_offsite">Dom Wakeling</a>
</p>

</div>