---
layout: layouts/base.njk
title: Homepage Welcome ...TODO
description: TODO
metacontent: TODO
templateEngineOverride: njk,md
---

<div style="width: 600px; margin: 0 auto; font-family: Helvetica, Arial, sans-serif">

<h1 style="text-align: center">Minidex</h1>

<p style="text-align: center">
  <strong>Minidex</strong>: Minis witnessed per mile travelled.
</p>

<div style="width: 95%; margin: 0 auto;">

{{ minidex | safe }}

</div>

</div>